.navigation {
    background-color: rgb(207, 207, 207);
    border-bottom: 2px rgb(10, 10, 10) solid;
}

.navigation__container {
    max-width: 1000px;
    margin: auto;
}

.navigation__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: auto;
}

.navigation__link:active {
    color: rgb(22, 22, 22);
    outline: none;
}

.navigation__flexList {
    display: flex;
    list-style: none;
    font-weight: 700;
    margin: auto;
    padding: 0px;
}

.navigation__flexItem {
    padding: 20px;
    border-left: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    margin: auto 0px
}

.navigation__flexItem:hover {
    background-color: rgb(233, 233, 233);
}